@{
    ViewData["Title"] = "Acerca de";
}

<div class="text-center">
    <h1 class="display-4">Acerca de mí</h1>
    <section id="gallery">
        <div class="container">
        <div class="row" id="marvel-row">
            <div class="col-lg-2 mb-2"></div>
            <div class="col-lg-8 mb-8">
                <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><b>Postulante:</b></td>
                    <td>César Paul García Ascencio</td>
                </tr>
                <tr>
                    <td><b>Plaza:</b></td>
                    <td>Full Stack</td>
                </tr>
                <tr>
                    <td><b>Correo electrónico:</b></td>
                    <td>cpgarcia.sv@gmail.com</td>
                </tr>
                <tr>
                    <td><b>Descripción:</b></td>
                    <td>Buen día estimados, gracias por la oportunidad de realizar este pequeño proyecto, esperando que pueda ser de su agrado.</td>
                </tr>
                </tbody>
            </table>
            </div>
          

            
        </div>
        

    </div>
    </section>
    
</div>
